
.slide__content p{
  color:var(--black);
  text-transform: none;
  width: 100%;
  max-width: 500px;
  font-weight: 600;
}

.wwd-style {
  background-color: var(--white);
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
  @include center;
  &_content {
    margin-inline: 1rem;
    max-width: 1350px;
    
  }

  &_info {
    
    align-self: flex-end;
    padding: 4rem 2rem 2rem 2rem;
  }

  &_steps {
    padding-inline: 2rem;
  }
}

  

